[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
django-allauth = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-environ = "==0.8.1"
django-debug-toolbar = "*"
django-taggit = "*"
coverage = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
