{% extends 'base.html' %}

{% block content %}
    <div id="content">
        <h2>About Me</h2>
        <br>
        <p>
            Hello there! <br> 
            I am Abdulmumin. I am a backend developer, tech enthsuiast and pharmacist.
            On here, I plan to share insights from my software development journey. I will drop periodic posts about concepts that I learn and lessons from my experiences. <br>
            I am also a big fan of philosophy and personal development and will occasionally share content regarding those too.
            i hope you enjoy your time here. Also, I value your feedback and look forward to your messages about my posts. Please <a href="{% url 'blog:contact_me' %}">reach out to me here</a> if you want to share anything with me. I promise to respond. <br>
            Thanks again. Enjoy!
        </p>
    </div>
{% endblock content %}