{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock title %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
	</head>
	<body class="is-preload">
		{% block content %}
		{% endblock content %}
		<!-- Sidebar -->
		<div id="sidebar">

			<!-- Logo -->
				<h1 id="logo"><a href="#">WELCOME</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="#">Archives</a></li>
						<li><a href="#">About Me</a></li>
						<li><a href="#">Contact Me</a></li>
						<li class="current"><a href="{% url 'blog:home' %}">Latest Posts</a></li>
						<div>
							{% show_latest_posts 3 %}
						</div>
					</ul>
				</nav>

			<!-- Search -->
				<section class="box search">
					<form method="get" action="{% url 'blog:post_search' %}">
						{{ search_form.as_p }}
						<button type="submit">Search</button>
						{% comment %} <input type="text" class="text" name="search" placeholder="Search" /> {% endcomment %}
					</form>
				</section>

			<!-- Text -->
				<section class="box text-style1">
					<div class="inner">
						<p>
							<strong>Abdulmumin's Blog: I've written a total of {% total_posts %} posts so far.</strong>
						</p>
					</div>
				</section>

			<!-- Recent Posts -->
				{% comment %} <section class="box recent-posts">
					<header>
						<h2>Recent Posts</h2>
					</header>
					<ul>
						{% show_latest_posts 3 %}
					</ul>
				</section> {% endcomment %}

			<!-- Recent Comments -->
				<section class="box recent-comments">
					<header>
						<h2>Recent Comments</h2>
					</header>
					<ul>
						{% comment %} <li>case on <a href="#">Lorem ipsum dolor</a></li>
						<li>molly on <a href="#">Sed dolore magna</a></li>
						<li>case on <a href="#">Sed dolore magna</a></li> {% endcomment %}
						{% show_latest_comments %}
					</ul>
				</section>
	{% comment %} 
			<!-- Calendar -->
				<section class="box calendar">
					<div class="inner">
						<table>
							<caption>July 2014</caption>
							<thead>
								<tr>
									<th scope="col" title="Monday">M</th>
									<th scope="col" title="Tuesday">T</th>
									<th scope="col" title="Wednesday">W</th>
									<th scope="col" title="Thursday">T</th>
									<th scope="col" title="Friday">F</th>
									<th scope="col" title="Saturday">S</th>
									<th scope="col" title="Sunday">S</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="4" class="pad"><span>&nbsp;</span></td>
									<td><span>1</span></td>
									<td><span>2</span></td>
									<td><span>3</span></td>
								</tr>
								<tr>
									<td><span>4</span></td>
									<td><span>5</span></td>
									<td><a href="#">6</a></td>
									<td><span>7</span></td>
									<td><span>8</span></td>
									<td><span>9</span></td>
									<td><a href="#">10</a></td>
								</tr>
								<tr>
									<td><span>11</span></td>
									<td><span>12</span></td>
									<td><span>13</span></td>
									<td class="today"><a href="#">14</a></td>
									<td><span>15</span></td>
									<td><span>16</span></td>
									<td><span>17</span></td>
								</tr>
								<tr>
									<td><span>18</span></td>
									<td><span>19</span></td>
									<td><span>20</span></td>
									<td><span>21</span></td>
									<td><span>22</span></td>
									<td><a href="#">23</a></td>
									<td><span>24</span></td>
								</tr>
								<tr>
									<td><a href="#">25</a></td>
									<td><span>26</span></td>
									<td><span>27</span></td>
									<td><span>28</span></td>
									<td class="pad" colspan="3"><span>&nbsp;</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section> {% endcomment %}

			<!-- Copyright -->
				<ul id="copyright">
					<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>

		</div>

	<!-- Scripts -->
		<script src={% static "assets/js/jquery.min.js" %}></script>
		<script src={% static "assets/js/browser.min.js" %}></script>
		<script src={% static "assets/js/breakpoints.min.js"%}></script>
		<script src={% static "assets/js/util.js" %}></script>
		<script src={% static "assets/js/main.js" %}></script>

	</body>
</html>